* {
  box-sizing: border-box !important;
}

@media (min-width: 576px) {
  * {
    box-sizing: content-box !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(193, 200, 228);
  background: linear-gradient(
    90deg,
    rgba(193, 200, 228, 1) 0%,
    rgba(132, 206, 235, 1) 15%,
    rgba(86, 128, 233, 1) 50%,
    rgba(90, 185, 234, 1) 85%,
    rgba(193, 200, 228, 1) 100%
    ); */
  /* background: rgb(193, 200, 228);
  background: linear-gradient(
    180deg,
    rgba(193, 200, 228, 1) 0%,
    rgba(132, 206, 235, 1) 12%,
    rgba(90, 185, 234, 1) 43%,
    rgba(86, 128, 233, 1) 100%
  ); */
  /* background: rgb(132, 206, 235);
  background: linear-gradient(
    180deg,
    rgba(132, 206, 235, 1) 0%,
    rgba(110, 195, 234, 1) 10%,
    rgba(90, 185, 234, 1) 22%,
    rgba(89, 170, 234, 1) 33%,
    rgba(92, 151, 228, 1) 50%,
    rgba(103, 138, 224, 1) 60%,
    rgba(124, 121, 219, 1) 77%,
    rgba(143, 108, 207, 1) 100%
  ); */
  background: rgb(132, 206, 235);
  background: linear-gradient(
    0deg,
    rgba(132, 206, 235, 1) 0%,
    rgba(110, 195, 234, 1) 12%,
    rgba(90, 185, 234, 1) 25%,
    rgba(89, 170, 234, 1) 41%,
    rgba(92, 151, 228, 1) 70%,
    rgba(86, 128, 233, 1) 100%
  );
}

#root {
  margin: 0;
  padding: 0;
  /* background-color: #8b0000; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
input {
  box-shadow: -7px 7px 8px #00000026;
}
